<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.abstractfactorysingletoncomposite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SISTEMA CONTROL DE PRESTAMO DE MATERIALES BIBLIOGRAFICOS A USUARIOS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrarDatos"></activity>

        <activity android:name=".Estudiante_Main"></activity>

        <activity android:name=".Docente_Main"></activity>

        <activity android:name=".RegistrarMaterial"></activity>

    </application>

</manifest>
